<div class="row">
  <div class="col-sm-offset-4 col-sm-4 panel panel-default">
    <form>
      <div class="panel-heading">
        <h5>Ingresa un vin:</h5>
      </div>
      <div class="panel-body">
        <div class="input-group"> 
          <input type="text" class="form-control" placeholder="ej. 1ZVBP8EM7D5276339" 
           aria-label="Example text with button addon" aria-describedby="button-addon1"
           name="vin" id="vin" [(ngModel)]="vinID"
           required>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="findVin()"
             [disabled]="disabledButton">
                <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" *ngIf="foundData">
  
</div>
