<div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <strong>VIN</strong> <div class="form-control">{{ showElement(getData.RESULT.VIN) }}</div>
  </div>
  <div class="col-sm-3">
    <strong>MARCA_FABRICANTE</strong> <div class="form-control">{{ showElement(getData.RESULT.MARCA_FABRICANTE) }}</div>
  </div>
  <div class="col-sm-3">
    <strong>MODELO_VEHICULO</strong> <div class="form-control">{{ showElement(getData.RESULT.MODELO_VEHICULO) }}</div>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <strong>AÑO_MODELO</strong> <div class="form-control">{{ showElement(getData.RESULT.ANIO_MODELO) }}</div>
  </div>
  <div class="col-sm-3">
    <strong>SOLO_PARTES</strong> <div class="form-control">{{ showElement(getData.RESULT.SOLO_PARTES) }}</div>
    </div>
  <div class="col-sm-3">
    <strong>PARTES_ENSAMBLADAS</strong> <div class="form-control">{{ showElement(getData.RESULT.PARTES_ENSAMBLADAS) }}</div>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-3">
      <strong>PERDIDA_TOTAL</strong> <div class="form-control">{{ showElement(getData.RESULT.PERDIDA_TOTAL) }}</div>
    </div>
    <div class="col-sm-3">
      <strong>FECHA_PERDIDA_TOTAL</strong> <div class="form-control">{{ showElement(getData.RESULT.FECHA_PERDIDA_TOTAL) }}</div>
    </div>
    <div class="col-sm-3">
    <strong>DESMANTELAMIENTO</strong> <div class="form-control">{{ showElement(getData.RESULT.DESMANTELAMIENTO) }}</div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <strong>ULTIMO_TITULO</strong> <div class="form-control">{{ showElement(getData.RESULT.ULTIMO_TITULO) }}</div>
  </div>
  <div class="col-sm-3">
    <strong>TITULO_DEL_ESTADO</strong> <div class="form-control">{{ showElement(getData.RESULT.TITULO_DEL_ESTADO) }}</div>
  </div>
  <div class="col-sm-3">
    <strong>FECHA_TITULO</strong> <div class="form-control">{{ showElement(getData.RESULT.FECHA_TITULO) }}</div>
  </div>
</div>
